<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<!-- <dx-form [items]="formdata"
[showColonAfterLabel]="true"
[showValidationSummary]="true"
validationGroup="customerData"
[customizeItem]="customizer"
> -->
  <!-- <dxi-item dataField="firstName"> -->
<!-- <dxi-validation-rule
  type="required"
  message="Input correct name">
</dxi-validation-rule> -->
  <!-- </dxi-item> -->
  <!-- <dxi-item dataField="lastName" ></dxi-item> -->
  <!-- <dxi-item dataField="userName" ></dxi-item> -->
  <!-- <dxi-item dataField="email"> -->
      <!-- <dxi-validation-rule
      type="required"
      message="email is required">
    </dxi-validation-rule>
    <dxi-validation-rule
    type="email"
    message="Input correct email">
  </dxi-validation-rule> -->
  <!-- </dxi-item> -->
  <!-- <dxi-item dataField="phone">     -->
      <!-- <dxi-validation-rule
    type="required"
    message="phone number is required">
  </dxi-validation-rule>
  <dxi-validation-rule
  type="phone"
  message="Input correct number">
</dxi-validation-rule> -->
<!-- </dxi-item> -->
  <!-- <dxi-item dataField="password"> -->
      <!-- <dxi-validation-rule
      type="required"
      message="password is required">
    </dxi-validation-rule>
    <dxi-validation-rule
    type="password"
    message="Input correct password">
  </dxi-validation-rule> -->
  <!-- </dxi-item> -->

  <!-- <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="buttonOptions"></dxi-item> -->
<!-- </dx-form> -->
<br>
<br>


<router-outlet></router-outlet>
